{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row p-0">
        <div class="col-sm-4 p-0">
            <img src="/static/photoshop/PRE_F240445_23_21_R.jpg" alt=""
            class="img-fluid">
        </div>
        <div class="col-sm-4 p-0">
            <img class="img-fluid"
            src="/static/photoshop/PRE_F240447_23_21_R.jpg" alt="">
        </div>
        <div class="col-sm-4 p-0">
            <img class="img-fluid"
            src="/static/photoshop/PRE_F240448_23_21_L.jpg" alt="">
        </div>
    </div>
    <div class="row p-0">
        <div class="col-sm-4 p-0">
            <img src="/static/photoshop/PRE_F240449_23_21_R.jpg" alt=""
            class="img-fluid">
        </div>
        <div class="col-sm-4 p-0">
            <img class="img-fluid"
            src="/static/photoshop/PRE_F240450_23_21_R.jpg" alt="">
        </div>
        <div class="col-sm-4 p-0">
            <img class="img-fluid"
            src="/static/photoshop/PRE_F240451_23_21_R.jpg" alt="">
        </div>
    </div>
</div>
{% endblock %}
