{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">PDBEYC3</a>
    <a href="/"><button class="btn btn-primary my-2 my-sm-0 ml-12" type="submit">Upload Singular Images</button></a>
</nav>
<hr>
<div class="container">
    
    <form action="/upload-directory" method="post" enctype="multipart/form-data">   
        <div class="row">
          <div class="col">
                <div class="text-center"><h3>Pre Operation</h3></div>
                <br>
                <br>
                <!-- <input type="file" name="pre" class="file col-md-offset-4 col-md-4" id="preop" value="+"/> -->
                <img class="mx-auto d-block" id="preimg" src='/static/zip.jpeg' alt="loaded image will be shown here" onerror="this.src='/static/default.jpg'" />
                <div class="form-control" data-provides="fileinput">
                    <input type="file" name="pre-directory" id="getimgpre" />
                </div>
          </div>
          <div class="col">
                <div class="text-center"><h3>Post Operation</h3></div>
                <br>
                <br>
                <!-- <input type="file" name="post" class="file col-md-offset-4 col-md-4" id="postop" value="+"/> -->
                <img class="mx-auto d-block" id="postimg" src='/static/zip.jpeg' alt="loaded image will be shown here" onerror="this.src='/static/default.jpg'" />
                <div class="form-control" data-provides="fileinput">
                    <input type="file" name="post-directory" />
                </div>
          </div>
        </div>
        <br><br>
        <div class="row text-center">
            <div class="col">
                <input type="submit" value="Submit" id="postop" class="text-center btn btn-large btn-success btn-block"/>                
            </div>
        </div>
    </form> 
      </div>
{% endblock %}